.sidedrawer.sidedrawer-left .sidedrawer-header-image {
    color: rgb(236, 129, 15);
    height: 60;
    width: 60;
    font-size: 80;
    padding: 0;
    margin-bottom: 5;
    margin-top: 20
}

.sidedrawer.sidedrawer-left .footnote {
    color: rgba(255, 255, 255, 0.5)
}

.sidedrawer .sidedrawer-header {
    background-color: #fac950
}

.sidedrawer .sidedrawer-header .sidedrawer-header-brand {
    color: #fff
}

.sidedrawer .sidedrawer-content {
    background-color: #fff
}