
<GridLayout rows="auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="sidedrawer-header">
        <Label class="sidedrawer-header-brand" text="Gurupurnima 2018, USA" style="margin-top: 10; font-weight: bold; font-size: 16;"></Label>
    </StackLayout>

    <ScrollView row="1">
        <StackLayout class="sidedrawer-content">
            <MyDrawerItem title="Event List" route="/event-list" icon="&#xe904;" [isSelected]="isPageSelected('Event List')"></MyDrawerItem>
            <MyDrawerItem title="Agenda" route="/sessions/1" icon="&#xe953;" [isSelected]="isPageSelected('Agenda')"></MyDrawerItem>
            <MyDrawerItem title="My Sessions" route="/sessions/0" icon="&#xe9d9;" [isSelected]="isPageSelected('My Sessions')"></MyDrawerItem>

            <StackLayout class="hr-light"></StackLayout>

            <MyDrawerItem title="Floor Plans" route="/floor-plans" icon="&#xe94b;" [isSelected]="isPageSelected('Floor Plans')"></MyDrawerItem>
            <MyDrawerItem title="Location" route="/location" icon="&#xe947;" [isSelected]="isPageSelected('Location')"></MyDrawerItem>
        </StackLayout>
    </ScrollView>
</GridLayout>