/* Need to add some styling for iOS icon, bottom right corner shows the edges of the icon on drawer-menu */
/* .sidedrawer-header-image {
    background-color: #e0e0e0;
    background-image: url('res://icon');
    background-repeat: no-repeat;
}

.sidedrawer-left .sidedrawer-header-image {
    height: 64;
    width: 64;
    border-radius: 32;
    horizontal-align: left;
    margin-bottom: 36;
}

.sidedrawer-center .sidedrawer-header-image {
    height: 74;
    width: 74;
    border-radius: 37;
    horizontal-align: center;
    margin-bottom: 24;
} */
.drawer {
    background-color: #47000000;
} 