<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left"></ActionItem>
    <!--Home button for Android -->
    <!-- <NavigationButton ios:visibility="collapsed" icon="res://ic_home_white" (tap)="homeTap()"></NavigationButton> -->
    <!--Home button for ios -->
    <!-- <ActionItem class="home-button" icon="res://ic_home_white" ios.position="right" android:visibility="collapsed" (tap)="homeTap()"
        ios.position="right"></ActionItem> -->
   <Label class="action-bar-title" text="Floor Plans"></Label>
</ActionBar>

<!--RadSideDrawer Allows for scrolling across page-->
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Floor Plans'"></MyDrawer>
    </StackLayout>
    
    <GridLayout class="page page-content" tkMainContent>
        <ScrollView>
            <StackLayout orientation="vertical">
                <StackLayout class="floor-body">
                    <StackLayout class="hr-light"></StackLayout>
                    <Image class="floor-image" src="res://floorplan_1"></Image>
                    <Label text="First Floor" class="floor-name"></Label>
                </StackLayout>
                
                <StackLayout class="floor-body">
                    <StackLayout class="hr-light"></StackLayout>
                    <Image class="floor-image" src="res://floorplan_2"></Image>
                    <Label text="Second Floor" class="floor-name"></Label>
                </StackLayout>
                
                <StackLayout class="floor-body">
                    <StackLayout class="hr-light"></StackLayout>
                    <Image class="floor-image" src="res://floorplan_3"></Image>
                    <Label text="Third Floor" class="floor-name"></Label>
                </StackLayout>
                
                <StackLayout class="floor-body">
                    <StackLayout class="hr-light"></StackLayout>
                    <Image class="floor-image" src="res://floorplan_3"></Image>
                    <Label text="Fourth Floor" class="floor-name"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</RadSideDrawer>