.action-bar {
  height: 44;
  background-color:#fac950;
}

.action-bar-title {
  text-align: center;
  vertical-align: center;
  font-size: 20;
  color: white;
}
.floor-image{
    background-color: white;
    text-align: center;
    padding: 30px 0 30px 0;
}
.floor-name{
  padding-left: 30px;
  padding-top: 30px;
}
#floor-body{
  margin-bottom: 20px;
}
