<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Floor Plans"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Floor Plans'"></MyDrawer>
    </StackLayout>
    
    <GridLayout class="page page-content" tkMainContent>
        <ScrollView>
            <StackLayout orientation="vertical">
                <StackLayout id="floor-1">
                <StackLayout class="hr-light"></StackLayout>
                <Image stretch="none" class="floor-image" src="res://floorplan_1"></Image>
                <Label text="First Floor" class="h3 text-muted u"></Label>
                </StackLayout>
                
                <StackLayout id="floor-2">
                <StackLayout class="hr-light"></StackLayout>
                <Image stretch="none" class="floor-image" src="res://floorplan_2"></Image>
                <Label text="Second Floor" class="h3 text-muted u"></Label>
                </StackLayout>
                
                <StackLayout id="floor-3">
                <StackLayout class="hr-light"></StackLayout>
                <Image stretch="none" class="floor-image" src="res://floorplan_3"></Image>
                <Label text="Third Floor" class="h3 text-muted u"></Label>
                </StackLayout>
                
                <StackLayout id="floor-4">
                <StackLayout class="hr-light"></StackLayout>
                <Image stretch="none" class="floor-image" src="res://floorplan_3"></Image>
                <Label text="Fourth Floor" class="h3 text-muted u"></Label>
                </StackLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</RadSideDrawer>