.action-bar {
  height: 44;
  background-color:#fac950;
}

.action-bar-title {
  text-align: center;
  vertical-align: center;
  font-size: 20;
  color: white;
}
ActionBar .action-bar-title {
  horizontal-align: center
}

.floor-image{
    background-color: white;
    text-align: center;
    padding: 30px 0 30px 0;
}
#floor-1{
  margin-bottom: 20px;
}
