<ActionBar class="action-bar">
    <!-- <NavigationButton ios:visibility="collapsed" icon="res://ic_search_white" android.position="actionBar" ></NavigationButton>
    <ActionItem class="search-bar" icon="res://ic_search_white" android:visibility="collapsed" ios.position="right"></ActionItem> -->

    <NavigationButton ios:visibility="collapsed"></NavigationButton>
    <Label class="action-bar-title" text="Event List"></Label>
</ActionBar>

<StackLayout row="1" class="eventListView">
    <ScrollView>
        <StackLayout>
            <StackLayout *ngFor="let item of _eventServices.items.value; let i = index;">
                <GridLayout class="eventListView">
                    <StackLayout>
                      <GridLayout rows="* auto" columns="*" (tap)="selectEvent($event, item)" style="padding:40px;">
                        <Image row="0" col="0" src="https://testusevents.dadabhagwan.org/events/images/GP2018.jpg"></Image>
                        <StackLayout row="1" col="0" class="list-group-item" style="padding: 20px 0px 20px 25px" backgroundColor="#e0e0e0">
                            <Label class="list-group-item-heading" [text]="item.eventName"></Label>
                            <Label class="list-group-item-text fa" [text]="'Start Date: '+ item.eventStartDate"></Label>
                            <Label class="list-group-item-text fa" [text]="'End Date: ' + item.eventEndDate"></Label>
                            <Label class="list-group-item-text fa" [text]="'Location: ' + item.eventCity + ' ' + item.eventState + ', ' + item.eventCountry"></Label>
                        </StackLayout>
                    </GridLayout>                         
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>