.date-range-img {
    background-image: url("~/images/ic_date_range.png");
    background-size: cover;
    height: 25;
    width: 25;
}

.horizontal-line {
    height: 1;
    width: 100%;
    background-color: #F44336;
    vertical-align: center;
    margin: 12 0 8 0;
}

.event-container{
    margin: 0 15px 0 15px;    
}

.event-image {
    padding-left: 65px;
    height: 275px;
    width: 280px;
    float: left;
}

.event-info-body{
    padding-left: 30px;
    padding-top: 40px;
    float: right;
}

.info-dates {
    font-size: 12px;
    color: #A17201;
    margin: 0;
}

.info-bigger {
    color: #555555;
    font-size: 15;
    margin: 0;
}

.listView {
    background-color: #ffffff
}