<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <Label class="action-bar-title" text="Event Information"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Event Info'"></MyDrawer>
    </StackLayout>
    <GridLayout rows="*, auto" class="page page-content" tkMainContent>
        <StackLayout row="0">
            <ScrollView sdkExampleTitle sdkToggleNavButton>
                <GridLayout rows="auto auto auto auto auto auto auto auto">
                    <Image row="0" #img src="https://usevents.dadabhagwan.org/events/images/GP2018.jpg"></Image> 
                    <Label row="1"[text]="title" class="h2 p-l-10 p-t-10" textWrap="true" style="text-decoration: underline;"></Label>
                    <Label row="2" [text]="'Start Date: ' + startDate" class="p-l-10 p-t-10" textWrap="true"></Label>
                    <Label row="3" [text]="'End Date: ' + endDate" class="p-l-10 p-t-10" textWrap="true"></Label>
                    <Label row="4" [text]="'Location: ' + address" class="p-l-10 p-t-10" textWrap="true"></Label>
                    <Label row="5" [text]="desc" class="p-l-10 p-t-10" textWrap="true"></Label>
                    <Label row="6" [text]="scheduleTitle" class="h3 p-l-10 p-t-10" textWrap="true" style="text-decoration: underline;"></Label>
                    <Label row="7" [text]="schedule" class="p-l-10" textWrap="true"></Label>
                </GridLayout>
            </ScrollView>
        </StackLayout>
        <BottomNavigation [tabs]="tabs"
            activeColor="red"
            inactiveColor="black"
            backgroundColor="white"
            keyLineColor="black"
            (tabSelected)="onBottomNavigationTabSelected($event)"
            row="1">
        </BottomNavigation> 
    </GridLayout>
</RadSideDrawer> 