<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <Label class="action-bar-title" text="Event Information"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Event Info'"></MyDrawer>
    </StackLayout>
    <GridLayout rows="*, auto" class="page page-content" tkMainContent>
        <StackLayout row="0">
            <Image #img style.zIndex="1" flexGrow="1" [src]="imageSrc"></Image> 
            <ScrollView sdkExampleTitle sdkToggleNavButton  (scroll)="onScroll($event)">
                <FlexboxLayout flexDirection="column">
                    <Label flexGrow="1" [text]="title" class="h2 p-l-10 p-t-10" textWrap="true" style="text-decoration: underline;"></Label>
                    <FlexboxLayout #content style.zIndex="2" flexDirection="column">
                        <Label flexGrow="1" [text]="startDate" class="p-l-10 p-t-10" textWrap="true"></Label>
                        <Label flexGrow="1" [text]="endDate" class="p-l-10 p-t-10" textWrap="true"></Label>
                        <Label flexGrow="1" [text]="address" class="p-l-10 p-t-10" textWrap="true"></Label>
                        <Label flexGrow="1" [text]="desc" class="p-l-10 p-t-10" textWrap="true"></Label>
                        <Label flexGrow="1" [text]="scheduleTitle" class="h3 p-l-10 p-t-10" textWrap="true" style="text-decoration: underline;"></Label>
                        <Label flexGrow="1" [text]="schedule" class="p-l-10" textWrap="true"></Label>
                    </FlexboxLayout>
                </FlexboxLayout> 
            </ScrollView> 
        </StackLayout>
        <BottomNavigation [tabs]="tabs"
            activeColor="red"
            inactiveColor="black"
            backgroundColor="white"
            keyLineColor="black"
            (tabSelected)="onBottomNavigationTabSelected($event)"
            row="1">
        </BottomNavigation> 
    </GridLayout>
</RadSideDrawer> 