<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://navigation/menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Genral Information"></Label>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'General Information'"></MyDrawer>
    </StackLayout>
    <GridLayout class="page page-content" tkMainContent>
      <!-- >> content-paralax-page-html -->
<ScrollView sdkExampleTitle sdkToggleNavButton  (scroll)="onScroll($event)">
    <FlexboxLayout flexDirection="column">
         <Label flexGrow="1" [text]="title" class="h2 p-l-15 p-r-15 p-t-15" textWrap="true"></Label>
        <Image #img style.zIndex="1" flexGrow="1" [src]="imageSrc"stretch="fill"></Image>
        <FlexboxLayout #content style.zIndex="2" flexDirection="column">
             <Label flexGrow="1" [text]="startDate" class="p-15" textWrap="true"></Label>
             <Label flexGrow="1" [text]="endDate" class="p-15" textWrap="true"></Label>
          <Label flexGrow="1" [text]="address" class="p-15" textWrap="true"></Label>
            <Label flexGrow="1" [text]="desc" class="p-15" textWrap="true"></Label>
           
        </FlexboxLayout>
    </FlexboxLayout>
</ScrollView> 
       </GridLayout>
</RadSideDrawer>